.contact-container {
  text-decoration-color: white;
  background-color: var(--secondary);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 20px 20px 80px;
}

.connect-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.contact-form {
  display: grid;
  justify-items: center;
  width: 100%;
}
.contact-information-text {
  font-family: var(--base);
  font-size: 18px;
  margin-top: 0;
}

form {
  display: grid;
  width: 100%;
}

input,
textarea {
  font-size: 18px;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-family: var(--base);
  text-align: left;
}

button {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  padding: 10px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}

/*styles for modal*/
/* .backdrop {
  display: none;
  position: fixed;
  background: blue;
  top: 0;
  height: 100vh;
  width: 560;
  z-index: 1;
} */

.modal-content {
  display: none;
  position: fixed;
  background: white;
  padding: 10px;
  width: 260px;
  top: 100px;
  left: calc(50% - 140px);
  z-index: 1;
}
