.contact-container {
  text-decoration-color: white;
  background-color: var(--secondary);
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 20px 20px 80px;
}

.connect-form {
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.contact-form {
  display: grid;
  justify-items: center;
  width: 100%;
}

.contact-information-text {
  font-family: var(--base);
  font-size: 18px;
  margin-top: 0;
}

form {
  display: grid;
  width: 100%;
}

input,
textarea {
  font-size: 18px;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
  border: 2px solid var(--white);
  background-color: transparent;
  color: var(--white);
  outline: none;
}

label {
  font-size: 24px;
  font-family: var(--base);
  font-weight: 400;
  text-align: left;
  margin-bottom: 4px;
}

