:root {
  --primary: hsl(190, 100%, 50%);
  --secondary: hsl(213, 28%, 5%);
  --secondary-accent: hsl(211, 19%, 15%);
  --white: hsl(37, 100%, 93%);
  --base: 'Hind', sans-serif;
  --display: 'Teko', sans-serif;
  --dot-image: radial-gradient(#fff 10%, transparent 10%);
  --dot-position: 0 0;
  --dot-size: 15px 15px;
}

html,
body {
  font-family: var(--base);
  color: var(--primary);
  background-color: var(--secondary);
  margin: 0;
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--display);
  font-size: 60px;
  max-width: 700px;
  margin: 20px 0;
  letter-spacing: -0.02em;
  font-weight: 300;
  line-height: 120%;
}

h2 {
  font-family: var(--display);
  font-size: 60px;
  font-weight: 300;
  line-height: 100%;
  color: var(--white);
  text-align: center;
  margin: 20px 0 0;
}

h3 {
  font-size: 32px;
  letter-spacing: -0.02em;
}

h4 {
  font-size: 24px;
  margin: 10px 0;
}

.white {
  color: var(--white);
}

.logo {
  letter-spacing: -0.02em;
  font-family: var(--base);
  font-size: 32px;
  display: flex;
  align-items: center;
}

.two-dot-grid {
  background-image: var(--dot-image);
  background-position: var(--dot-position);
  background-size: var(--dot-size);
  width: 15px;
  height: 30px;
  display: inline-block;
  padding-bottom: 4px;
}

.nav-bar {
  background-color: var(--secondary);
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 0 hsla(360, 100%, 100%, 0.2);
  z-index: 99;
}

.nav-content {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: inline-block;
  /*padding-right: 20px;*/
  font-family: var(--base);
  font-size: 24px;

}

a:link {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
}

a:visited {
  color: var(--primary);
}

.nav-logo {
  height: 100px;
  width: 100px;
}

.nav-link {
  text-transform: uppercase;
}

.hero-container {
  background-image: linear-gradient(180deg, rgba(9, 12, 16, 0.5) 0%, rgba(9, 12, 16, 0.5) 73.44%, #090C10 100%),
    url("assets/images/hero-image.png");
  /* opacity: 0.5; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 700px;
}

.image-overlay {
  /*position: absolute;*/
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 800px;
  text-align: left;
  padding: 40px 60px;
  margin: 20px 20px 20px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.dotted-line {
  background-image: var(--dot-image);
  background-position: var(--dot-position);
  background-size: var(--dot-size);
  height: 90%;
  width: 15px;
  margin: 0 20px 0 0;
}

.hero-text-small {
  font-family: var(--base);
  font-size: 32px;
  font-weight: 500;
  max-width: 700px;
  margin: 0px;
  padding-bottom: 20px;
}

.skills-section {
  font-family: var(--base);
  font-size: 18px;
  width: 100%;
  text-align: center;
}


.skills-container {
  margin: auto;
}

.skills-grid {
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 800px;
}

.skills-list-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  padding: 0 0 25px 0;
}

.skill {
  display: grid;
  justify-self: left;
}

.icon-container {
  display: grid;
  justify-self: right;
  padding-right: 25px;
  align-items: center;
}

i {
  color: var(--white);
}

.video-section {
  width: 100%;
  background-color: var(--secondary-accent);
  padding-top: 20px;
}

.video-container {
  /*width: 100%;*/
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 1.5rem;
  padding: 20px 100px 100px 100px;
}

.footer-container {
  font-family: var(--base);
  padding: 30px 20px 50px;
  display: grid;
  justify-items: center;
  background-color: var(--secondary-accent);
  text-align: center;
}

.copyright {
  font-size: 10px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.thankyou-container {
  background-color: var(--secondary-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  .image-overlay {
    padding: 10px 40px;
  }
  
  h1 {
    font-size: 50px;
    line-height: 100%;
  }
  
  .hero-text-small {
    font-size: 18px;
  }
  
  .hero-container {
    height: 60vh;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .skills-list-grid {
    padding: 0 0 0 0;
  }

  .skills-container {
    margin: 0 50px 50px 50px;
  }

  .black-grid {
    background-color: var(--secondary);
  }

  .video-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 3rem;
    grid-column-gap: 1.5rem;
    padding: 20px 20px 80px 20px;
  }

  .contact-information-text {
    text-align: left;
  }

}

@media screen and (max-width: 500px) {
  
  .logo {
    font-size: 24px;
  }

  .nav-link {
    font-size: 18px;
  }

  .skills-container {
    margin: 10px 20px 40px 0;
  }

  .skills-list-grid {
    grid-template-columns: 40% 60%;
    padding: 0 0 0 0;
  }

  h3 {
    font-size: 24px;
    margin: 16px 0;
  }

  .skill-icon {
    width: 40px;
  }

  .break {
    display: block;
  }
}