:root {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: grey;
}

html,body {
  margin: 0;
}

.nav-bar {
  background-color: #221E22;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 0 hsla(360, 100%, 100%, 0.5);
  z-index: 99;
}

.nav-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: inline-block;
  padding-right: 20px;
}

.container {
  margin-top: 100px;
  height: 600px;
  background-image: url("images/hero-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-overlay {
  position: absolute;
  top: 260px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: grid;
  justify-items: center;
}

.hero-text {
  max-width: 800px;
  text-align: center;
  padding: 40px 20px;
}

a:link {
  color: #73C2FB;
}

a:visited {
  color: #919191;
}

.nav-logo {
  height: 100px;
  width: 100px;
}

.nav-link {
  text-transform: uppercase;
}


/* .container-center {
  background-color: blue;
  width: auto;
  max-width: 1200px;
} */

/* .video-container iframe{
    left:0;
    top:0;
    height:auto;
    width:auto;
    position:absolute;
} */

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.iframe-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . ." ". . .";
}

.vid-still {
  width: 100%;
  /* height: 100%; */
}

iframe {
  height: 100%;
  width: 100%;
}
/* .iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/* .video-container iframe {
  left:0;
   top:0;
   height:100%;
   width:100%;
   position:absolute;
} */

.icon-container {
  width: 100%;
  display: grid;
  justify-items: center;
}

.skills-container {
  width: 100%;
  max-width: 800px;
  margin: 0 40px 40px;
}

.skills-list {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-template-areas: ". . ." ". . ."; */
    /* grid-gap: 20px 10px; */
  /* width: 100%; */
  justify-items: center;
}

.skill {
  display: grid;
  justify-items: center;ı
}

.skills-icons {
  padding: 50px 0 20px;
}

.footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
